.container-home{
align-items: center;
display:flex;
flex-direction: column;
width:75vw;
row-gap: .25rem;
}
.editor{
    border:solid 2px black;
    width:100%;
    height:50vh;
    resize:none;
    font-size: large;
    overflow:scroll
}
.editor:focus{
    outline:none;
}
.submit-btn{
    align-self: flex-end;
    margin-top:1rem;
}