.container-home{
align-items: center;
display:flex;
flex-direction: column;
width:75vw;
row-gap: .25rem;
}

.submit-btn{
    align-self: flex-end;
    margin-top:1rem;
}
.editor-container{
    margin-top:2rem;
}